@import '../../styles/colors.scss';


.input {
    border: 1px solid $primaryLight;
    line-height: 30px;
    border-radius: 4px;
    width: 20rem;
    margin: 0.25rem;

    &:focus {
        outline-color: $primaryLight;
    }
}